* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100lvh;
}

canvas {
  display: block;
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.link img {
  display: none;
}
