*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.grid {
  display: flex;
  flex-direction: column;
  padding-block: 4rem;
  margin-block-start: 50vh;
  margin-block-end: 80vh;

  &:hover .link:not(:hover) {
    opacity: 0.4;
    filter: blur(2px);
  }

  .dark &:hover .link:not(:hover) {
    opacity: 0.8;
    filter: none;
  }
}

.link {
  color: #000;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 4vw;
  padding-block: 1em;
  cursor: pointer;
  text-align: center;
  transition: all 0.4s ease-out;

  span {
    padding: 0 0.25em;
    transition: background 0.5s ease-out;
  }

  &:hover {
    /* text-shadow: 1px 1px 0 #fff6, -1px 1px 0 #fff6, -1px -1px 0 #fff6, 1px -1px 0 #fff6; */

    span {
      background: #aaff00;
    }
  }

  .dark & {
    color: #aaff00;
    text-align: left;
    font-size: 3vw;
    padding-inline-start: 1em;
    border-top: 1px solid #fff3;

    &:hover {
      color: #000;
    }
  }
}

.grid {
  position: relative;
  z-index: 3;
}
